# Этап 1 НИР. Работа с данными SQLite  в   программах   на языке Python

### 4.1. Подготовительные операции

In [ ]:
import sqlite3

### 4.2. Создание БД bd1.sqlite с 2 таблицами: stud и sessija

In [8]:
con = sqlite3.connect('bd1.sqlite')

In [9]:
cur = con.cursor()

In [39]:
sql = """\
CREATE TABLE stud (id TEXT PRIMARY KEY,
fio TEXT, email TEXT);
CREATE TABLE sessija (id TEXT SECONDARY KEY,
Disz TEXT, Prepod TEXT, Ozenka INTEGER, Dat TEXT)"""

In [40]:
cur.executescript(sql)

OperationalError: table stud already exists

In [11]:
cur.close()
con.close()

### 4.3. Запись данных в таблицы stud и sessija

In [27]:
con = sqlite3.connect('bd1.sqlite')

cur = con.cursor()

In [30]:
sql = """\
INSERT INTO stud (id, fio, email) VALUES (20202343, 'ПЕРЕМЫШЛЕВ П.П.',
'peremyshlevpr@mpei.ru')"""

In [31]:
cur.execute(sql)
con.commit()

In [32]:
cur.close()
con.close()

### 4.4. Множественная вставка данных в таблицы БД

In [60]:
arr = [('1234567', 'ТАУ', 'Сидорова Е.Ю.', 4, '21.01.2023'),
      ('7654321', 'ПО АС', 'Фомин Г.А.', 5, '25.12.2022')]

In [54]:
con = sqlite3.connect('bd1.sqlite')

In [55]:
cur = con.cursor()

In [62]:
sql = """\
INSERT INTO sessija (id, Disz, Prepod, Ozenka, Dat)
VALUES (?,?,?,?,?)"""

In [63]:
cur.executemany(sql, arr)

In [64]:
con.commit()

In [65]:
cur.close()
con.close()

### 4.5. Чтение и отображение содержимого одной из таблиц в БД

Создал и выполнил программу test3.py, позволяющую увидеть содержимое указанной таблицы в заданной БД.
Записал программу в файл test3.py

### 4.6. Чтение данных из таблицы БД

In [66]:
con = sqlite3.connect('bd1.sqlite')
cur = con.cursor()

In [67]:
cur.execute('SELECT * FROM stud')

In [68]:
ar = cur.fetchall()

In [70]:
cur.close()
con.close()

In [71]:
print(ar)

[('20202343', 'ПЕРЕМЫШЛЕВ П.П.', 'peremyshlevpr@mpei.ru')]

### 4.7. Получение списка таблиц в составе БД.

In [73]:
con = sqlite3.connect('vuz.sqlite')

In [74]:
cur = con.cursor()

In [75]:
sql = """\
SELECT name FROM sqlite_master WHERE type IN ('table', 'view') AND
name NOT LIKE 'sqlite_%' UNION ALL SELECT name FROM
sqlite_temp_master WHERE type IN ('table', 'view') ORDER BY 1;"""

In [76]:
cur.execute(sql)

In [77]:
con.commit()

In [78]:
cur.fetchall()

[('vuz_rf',), ('vuzkart',), ('vuzstat',)]

In [79]:
cur.close()
con.close()

### 4.8. Считывание информации о структуре таблицы, имеющейся в БД

In [80]:
con = sqlite3.connect('VUZ.sqlite')

In [81]:
def my_factory(c, r):
    d = {}
    
    for i, name in enumerate(c.description):
        d[name[0]] = r[i]
        d[i] = r[i]
        
    return (d)

In [82]:
con.row_factory = my_factory

In [83]:
cur = con.cursor()

In [84]:
cur.execute('SELECT * from vuzkart')

In [85]:
ar = cur.fetchone()

In [86]:
cur.close()
con.close()

In [87]:
fld_names = list(ar.keys())[::2]

In [88]:
print(fld_names)

['codvuz', 'z1', 'z1full', 'z2', 'z2ustav', 'foundyear', 'z8', 'z9', 'z12', 'e_mail', 'www', 'z15', 'region', 'city', 'status', 'oblname', 'gr_ved', 'prof']

### 4.9. Ввод данных по запросу с клавиатуры  и занесение их в таблицу

In [89]:
con = sqlite3.connect('bd1.sqlite')

In [90]:
cur = con.cursor()

In [91]:
ar = []; vv = []

In [92]:
vv.append(input('Код зачетки студента = '))

Код зачетки студента = 20205674

In [94]:
vv.append(input('ФИО студента = '))

ФИО студента = Кравцов

In [95]:
vv.append(input('e-mail студента = '))

e-mail студента = kravtsovda@mpei.ru

In [96]:
ar.append(tuple(vv))

In [97]:
print(ar)

[('20205674', 'Кравцов', 'kravtsovda@mpei.ru')]

In [98]:
sql = 'INSERT INTO stud (id, fio, email) VALUES (?, ?, ?)'

In [99]:
cur.executemany(sql, ar)

In [100]:
con.commit()

In [101]:
cur.execute('SELECT * FROM stud')

In [102]:
ar1 = cur.fetchall()

In [103]:
print(ar1)

[('20202343', 'ПЕРЕМЫШЛЕВ П.П.', 'peremyshlevpr@mpei.ru'), ('20205674', 'Кравцов', 'kravtsovda@mpei.ru')]

In [104]:
cur.close()
con.close()